@use 'base';
#navbar{
  z-index: 10;
  background-color: white;
  position: relative;
  display:flex;
  height:64px;
  justify-content: space-between;
  padding: 0px 20px;
  img{
    align-self: center;
  }
  .encapsulator{
    position: absolute;
    top:64px;
    left:0px;
    width:100vw;
    background: linear-gradient(to top, rgba(	45, 49, 77,0), rgba(	45, 49, 77,1));
    #mobile-drawer{
      position:relative;
      left:40px;
      top:20px;
      background-color: white;
      border-radius: 5px;
      padding:15px;
      width:265px;
      height:327px;
      box-shadow:0px 5px 10px grey;
      nav{
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        a{
          text-decoration: none;
          color:black;
          padding:15px 0px;
        }
      }
    }
  }
}
#intro{
  background: url('../images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display:flex;
  flex-flow: column nowrap;
  z-index: -1;
  position: relative;
  bottom:105px;
  right:0px;
  text-align: center;
  width:100vw;
  margin:auto;
  img{
    position: relative;
    bottom:10px;
    height:402px;
    align-self: center;
    z-index: 0;
  }
  p {
    color: base.$grayish-Blue;
    margin: 20px auto;
    font-size:15px;
    line-height: 2;
    width: 327px;
  }
}
#next-gen-title{
  font-weight: 400;
  font-size: 40px;
}

@media (min-width:415px){
  /*Just working to make the desktop nav bar work here, almost done*/
    .encapsulator{
      position: static;
      width:unset;
      background: unset;
    #mobile-drawer{
      display:flex;
      position:static;
      flex-flow: row nowrap;
      background-color: white;
      border-radius: 5px;
      padding:15px;
      width:265px;
      height:327px;
      box-shadow:0px 5px 10px grey;
      nav{
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        a{
          text-decoration: none;
          color:black;
          padding:15px 0px;
        }
      }
    }
  }
  #intro{
    background: url('../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: bottom right -450px;
    background-attachment: fixed;
    display:flex;
    flex-flow:row nowrap;
    z-index:unset;
    position: unset;
    bottom:unset;
    right:unset;
    text-align:unset;
    width:100vw;
    margin:0;
    img{
      position: absolute;
      bottom:10px;
      right:-100px;
      height:unset;
      align-self: unset;
      width:732px;
      height:901px;
      z-index: 0;
      order:2;
    }
    #next-gen-text{
      order:1;
      padding:120px;
      margin:0px auto 0px 200px;
      width:447px;
      height:316px;
      #next-gen-title{
        font-size: 56px;
      }
      p {
        margin:20px 0px;
        line-height: 1.5;
        font-size:18px;
        width: unset;
      }
      .request-btn{
        margin: 0 auto 0 0;
      }
    }
  }
}
