.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  font: 100% "Public Sans", sans-serif;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
}

#navbar {
  z-index: 10;
  background-color: white;
  position: relative;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0px 20px;
}
#navbar img {
  align-self: center;
}
#navbar .encapsulator {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 100vw;
  background: linear-gradient(to top, rgba(45, 49, 77, 0), #2d314d);
}
#navbar .encapsulator #mobile-drawer {
  position: relative;
  left: 40px;
  top: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  width: 265px;
  height: 327px;
  box-shadow: 0px 5px 10px grey;
}
#navbar .encapsulator #mobile-drawer nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#navbar .encapsulator #mobile-drawer nav a {
  text-decoration: none;
  color: black;
  padding: 15px 0px;
}

#intro {
  background: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-flow: column nowrap;
  z-index: -1;
  position: relative;
  bottom: 105px;
  right: 0px;
  text-align: center;
  width: 100vw;
  margin: auto;
}
#intro img {
  position: relative;
  bottom: 10px;
  height: 402px;
  align-self: center;
  z-index: 0;
}
#intro p {
  color: #9698a6;
  margin: 20px auto;
  font-size: 15px;
  line-height: 2;
  width: 327px;
}

#next-gen-title {
  font-weight: 400;
  font-size: 40px;
}

@media (min-width: 415px) {
  /*Just working to make the desktop nav bar work here, almost done*/
  #navbar {
    height: 80px;
    padding: 0 100px;
  }
  #navbar .encapsulator {
    position: static;
    width: unset;
    background: unset;
    display: flex;
    flex-flow: row nowrap;
  }
  #navbar .encapsulator #mobile-drawer {
    display: flex;
    position: static;
    align-items: center;
    flex-flow: row nowrap;
    border-radius: 5px;
    padding: 10px;
    background-color: unset;
    width: unset;
    height: unset;
    box-shadow: unset;
  }
  #navbar .encapsulator #mobile-drawer nav {
    position: absolute;
    left: 38%;
    display: flex;
    flex-flow: row nowrap;
    align-items: unset;
  }
  #navbar .encapsulator #mobile-drawer nav a {
    text-decoration: none;
    color: grey;
    padding: 15px;
  }
  #navbar .encapsulator #mobile-drawer nav a:hover {
    color: black;
    border-bottom: 2px green solid;
    padding: 15px 15px 13px 15px;
  }

  #intro {
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: bottom right -450px;
    background-attachment: fixed;
    display: flex;
    flex-flow: row nowrap;
    z-index: unset;
    position: unset;
    bottom: unset;
    right: unset;
    text-align: unset;
    width: 100vw;
    margin: 0;
  }
  #intro img {
    position: absolute;
    bottom: 10px;
    right: -100px;
    height: unset;
    align-self: unset;
    width: 732px;
    height: 901px;
    z-index: 0;
    order: 2;
  }
  #intro #next-gen-text {
    order: 1;
    padding: 120px;
    margin: 0px auto 0px 200px;
    width: 447px;
    height: 316px;
  }
  #intro #next-gen-text #next-gen-title {
    font-size: 56px;
  }
  #intro #next-gen-text p {
    margin: 20px 0px;
    line-height: 1.5;
    font-size: 18px;
    width: unset;
  }
  #intro #next-gen-text .request-btn {
    margin: 0 auto 0 0;
  }
}
#features-section {
  background-color: #f3f4f6;
  padding: 100px 0px 50px 0px;
  text-align: center;
  width: unset;
}
#features-section .feature {
  margin: 30px auto;
  width: 327px;
}
#features-section .section-description {
  margin-bottom: 50px;
  width: 327px;
  text-align: center;
  margin: 20px auto 50px auto;
}
#features-section img {
  padding: 10px;
}
#features-section .feature-title {
  padding: 10px;
  font-size: 20px;
}
#features-section p {
  color: #9698a6;
  line-height: 1.75;
}

@media (min-width: 415px) {
  #features-section {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
  }
  #features-section .section-start {
    width: 635px;
    margin: 100px 200px;
    text-align: left;
  }
  #features-section .section-title {
    text-align: left;
    width: inherit;
    margin: 15px 0px;
  }
  #features-section .section-description {
    margin: 0;
    text-align: left;
    width: inherit;
  }
  #features-section #features {
    display: flex;
    flex-flow: row nowrap;
    width: 1300px;
    margin: auto;
  }
  #features-section #features .feature {
    margin: auto;
    padding: 20px;
    text-align: left;
  }
}
#latest-articles {
  display: flex;
  background-color: #fafafa;
  flex-flow: column nowrap;
  padding: 100px 0px;
  align-content: center;
}
#latest-articles .article {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  margin: 40px auto;
  width: 327px;
}
#latest-articles .article img {
  width: 327px;
  height: 200px;
}
#latest-articles .article .content-section {
  padding: 30px;
}
#latest-articles .article .content-section span {
  color: #9698a6;
  font-size: 10px;
}
#latest-articles .article .content-section .article-title {
  font-size: 16px;
  padding-top: 10px;
}
#latest-articles .article .content-section p {
  font-size: 13px;
  color: #9698a6;
  line-height: 1.5;
}

@media (min-width: 415px) {
  #latest-articles {
    flex-flow: column nowrap;
  }
  #latest-articles .encapsulator {
    width: 1110px;
    margin: auto;
    flex-flow: column nowrap;
  }
  #latest-articles .section-title {
    padding: 50px 0px;
  }
  #latest-articles #articles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  #latest-articles #articles .article {
    width: 255px;
    margin: 0px 50px;
  }
  #latest-articles #articles .article img {
    height: 200px;
    width: inherit;
  }
}
footer {
  background-color: #2d314d;
  color: white;
  display: flex;
  flex-flow: column nowrap;
}
footer .encapsulator {
  display: flex;
  flex-flow: column nowrap;
}
footer .encapsulator img {
  align-self: center;
  width: 139px;
  height: 20px;
  padding: 50px 0px 20px 0px;
}
footer .encapsulator #social-media-icons {
  display: flex;
  flex-flow: row nowrap;
  width: 50vw;
  margin: auto;
  padding: 15px;
  justify-content: space-between;
}
footer .encapsulator #social-media-icons img {
  width: 24px;
  height: 24px;
  padding: 10px 0px;
}
footer .encapsulator a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
footer .encapsulator a:hover {
  color: green;
}
footer .encapsulator span {
  text-align: center;
  font-weight: 200;
  color: #9698a6;
  padding: 20px;
}
footer .encapsulator .request-btn {
  background-color: white;
}

@media (min-width: 415px) {
  footer {
    width: 100vw;
    display: block;
  }
  footer .encapsulator {
    width: 1110px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 330px 200px 250px 360;
    grid-template-rows: 50px 50px 50px;
  }
  footer .encapsulator img {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  footer .encapsulator #social-media-icons {
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 0;
    width: 154px;
  }
  footer .encapsulator #social-media-icons img {
    padding: 0;
  }
  footer .encapsulator a {
    text-align: left;
  }
  footer .encapsulator a:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  footer .encapsulator a:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  footer .encapsulator a:nth-of-type(3) {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  footer .encapsulator a:nth-of-type(4) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  footer .encapsulator a:nth-of-type(5) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  footer .encapsulator a:nth-of-type(6) {
    grid-column-start: 3;
    grid-row-start: 3;
  }
  footer .encapsulator .request-btn {
    grid-column-start: 5;
    grid-row-start: 1;
    margin: auto;
  }
  footer .encapsulator span {
    grid-column-start: 5;
    grid-row-start: 3;
  }
}
/*Page wide things*/
.section-title {
  font-size: 32px;
  text-align: center;
}

.request-btn {
  background: linear-gradient(#31d35c, #2bb7da);
  color: white;
  width: 163px;
  padding: 20px 30px;
  margin: 10px auto;
  border-radius: 50px;
  text-align: center;
}

.request-btn:hover {
  background: linear-gradient(rgba(49, 211, 92, 0.5), rgba(43, 183, 218, 0.5));
}

/*# sourceMappingURL=styles.css.map */
