@use 'base';
@use 'intro';
@use 'features';
@use 'articles';
@use 'footer';

/*Page wide things*/
.section-title{
  font-size: 32px;
  text-align: center;
}

.request-btn{
  background: linear-gradient(rgba(49, 211, 92,1),rgba(43, 183, 218,1));
  color: base.$white;
  width:163px;
  padding: 20px 30px;
  margin:10px auto;
  border-radius: 50px;
  text-align: center;
}
.request-btn:hover{
    background: linear-gradient(rgba(49, 211, 92,.5),rgba(43, 183, 218,.5));
}
